<template>
    <div id="app">
        <h2>Welcome {{ owner }}, you have {{ count }} items on your list:</h2>

        <button v-on:click="filter">filter by id=1</button>

        <Tile :items="items"></Tile>
    </div>
</template>

<script>
    import Tile from "./Tile";

    export default {
        name: "app",

        created : function() {
            this.getData();
        },
 
        components: {
            Tile
        },
 
        methods: {
            // don't use arrow functions because of this
            filter: function() {
                console.debug("filter by id=1");
                this.$store.commit("setItems", this.$store.getters.getItems.filter(item => item.id === 1))
            },
            getData: function() {
                fetch("http://localhost:8089/data")
                    .then(response => response.json())
                    .then((data) => {
                        this.$store.commit("setOwner", data.owner.type);
                        this.$store.commit("setCount", data.wishlist.length);
                        this.$store.commit("setItems", data.wishlist);
                    });
            }
        },

        computed: {
            owner () {
                return this.$store.getters.getOwner;
            },
            count () {
                return this.$store.getters.getCount;
            },
            items () {
                return this.$store.getters.getItems;
            }
        }
    }
</script>

<style lang="scss">
    $background-color: white;
    $color: black;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: $background-color;
        color: $color;
        font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
        line-height: 2;
        margin: 1rem;
        min-width: 320px;
    }

    a {
        color: $color;
    }
</style>
