<template>
    <section class="list list--tile">
        <a v-for="item in items" :href="item.url" class="item">
            <b>#{{ item.id }}</b> {{ item.title }}
            <img :src="item.image" width="120" height="100">
            <ul>
                <li>category: {{ item.category }}</li>
                <li>added on: {{ dateAddedOn(item.addedOn) }}</li>
                <li>price: {{ item.price }}</li>
            </ul>
        </a>
    </section>
</template>

<script>
    const moment = require("moment");

    export default {
        name: "tile",
        props: ["items"],
        methods: {
            dateAddedOn: (value) => {
                const date = moment(value);
                return `${date.day()}.${date.month()}.${date.year()} ${date.hour()}:${date.minute()}:${date.second()}`;
            }
        }
    }
</script>

<style lang="scss">
    $background-color: white;
    $color: black;

    .list.list--tile {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    }

    .item {
        display: grid;
        border: 1px solid $color;
        padding: 10px;

        * {
            display: block;
            word-break: break-word;
        }
    }
</style>
